# Compiled
/target
/dist
cargo.lock

# Folders
-EPUB
-PRAYERS
-UNPUBLISHED
-VIDEOS

# Media File Types
*.mov
*.wav
*.jpeg

# Specific Documents
.doccmds

# Specified Documents and Folders (usually WIP)
*-nolink
